
/* Mobile and Tablet */
/* @media (max-width: 1023px) {
  .carousel_li {
    max-width: 310px;
  }  
}

@media (max-width: 463px) {
  .carousel_li {
    max-width: 310px;
    padding: 0 10px;
  }  
}
*/

.carousel_container ul{
  padding: 0 0.5rem;
}

.carousel_dot button{
  border: none !important;
  background-color: rgb(240, 237, 237);
  margin-right: 0;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  margin: 0 0.8rem;
}

.carousel_dot ul{
  margin-bottom: 1rem;
}

/* .carousel_li img {
  object-fit: cover;
}   */
